= render partial:'shared/header'
.my-container
  .my-container-main
    .my-container-main__center
      .card
        .card-main
          .card-main__header
            %h2 クレジットカード情報入力
          .card-main__content
            %form
              = label :family_name, 'カード番号'
              %span 必須
              %br
              = text_field :user, :family_name,placeholder: '半角数字のみ'
              %br
              .card-kinds
                %ul
                  %li.visa
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3435714107')
                  %li.master
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3435714107')
                  %li.saison
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3435714107')
                  %li.jcb
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3435714107')
                  %li.american
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3435714107')
                  %li.dinor
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3435714107')
                  %li.discover
                    = image_tag('//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3435714107')
              = label :family_name, '有効期限'
              %span 必須
              %br
              = select_tag :user, :family_name,placeholder: '--'
              %br
              = select_tag :user, :first_name,placeholder: '--'
              %br
              = label :family_name, 'セキュリティーコード'
              %span 必須
              %br
              = text_field :user, :family_name_phoneitc,placeholder: 'カード背面4桁もしくは3桁の番号'
              = link_to 'カード裏面の番号とは','#'

              = submit_tag '追加する'
    = render partial: 'users/shared/users_sidebar'
= render partial: 'shared/footer'
