= render partial:'shared/header'
.my-container
  .my-container-main
    .my-container-main__center
      .add-card
        .add-card-main
          .add-card-main__header
            %h3 支払い方法

          .add-card-main__content
            %h4 クレジットカード一覧
            = button_tag do
              =fa_icon('credit-card')
              クレジットカードを追加する
        = link_to '支払い方法について','#'
    = render partial: 'users/shared/users_sidebar'
= render partial: 'shared/footer'
