.sub-footer
  .sub-footer-body
    %ul
      %li
        = link_to "プライバシーポリシー", "/"
      %li
        = link_to "メルカリ利用規約","/"
      %li
        = link_to "特定商取引に関する表記","/"
    .sub-footer-body-logo
      = link_to "/" do
        = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2855175014")
    %p © 2019 Mercari
