= render partial:'shared/header'
.item-show
  .item-show-main
    %h2.item-show-main-name=@item.name
    .item-show-main__container
      .item-show-main__container--image
        =image_tag(@images[0].image,class:'top-image')
        .bottom-image
          -# ここヘルパーメソッド使う??
          -@images.each_with_index do |image,i|
            =image_tag(image.image,class:'bottom-image-little',value:i)
      .item-show-main__container--table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to @item.vendor.user.nickname, "/"
                .rate-container
                  .rate-container-box
                    .good-icon
                      = fa_icon "smile-o"
                    .good.int  151
                  .rate-container-box
                    .normal-icon
                      = fa_icon "meh-o"
                    .normal.int 2
                  .rate-container-box
                    .bad-icon
                      = fa_icon "frown-o"
                    .bad.int 0
            %tr
              %th カテゴリー
              %td
                = link_to @item.category.name, "/"
                %br
                = link_to ">#{@item.category.middle}", "/"
                %br
                = link_to ">#{@item.category.small}", "/"
            %tr
              %th ブランド
              %td
                = link_to @item.brand, "/"
            %tr
              %th 商品のサイズ
              %td=@item.size_id
            %tr
              %th 商品の状態
              %td=@item.condition
            %tr
              %th 配送料の負担
              %td=@item.shipping_fee
            %tr
              %th 配送の方法
              %td=@item.shipping_method
            %tr
              %th 配送元地域
              %td
                = link_to @item.prefecture.name,"/"
            %tr
              %th 発送日の目安
              %td=@item.shipping_date
    .clearfix
    .item-show-main__price
      .price="¥#{@item.price.to_s(:delimited)}"
      .tax (税込)
      .shipping-fee 送料込み
    .item-show-main__buy-btn
      = link_to "購入画面に進む", "/"
    .item-show-main__description
      =@item.description
    .item-show-main__other
      .left-btn
        = link_to "/" do
          = fa_icon "heart-o"
          いいね
      .center-btn
        = link_to "/" do
          = fa_icon "flag-o"
          不適切な商品の報告
      .right-btn
        = link_to "/" do
          = fa_icon "lock"
          あんしん・あんぜんへの取り組み
  .item-show-comment
    =render partial:'items/item-negotiation',collection: @comments,as: :comment
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form
    =form_for()
      %textarea{cols: "40",rows: "4"}
      %button{type: "submit"}
        %span コメントする
  .item-show-link
    .item-show-link__prev
      = link_to "＜ジャケット" , "/"
    .item-show-link__next
      = link_to "大人気！リップグロス容器＞" , "/"
  .item-show-sns
    .item-show-sns-container
      %ul
        %li
          = fa_icon 'facebook-square'
        %li
          = fa_icon 'twitter-square'
        %li
          = fa_icon 'pinterest-square'
= render partial:'shared/footer'
